@model forex.Models.income;
@{
    ViewData["Title"] = "Annual Subscription";
    Layout = "~/views/Shared/_Layoutadmin.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        

        <section>
            <h1 class="h1-12">Annual Subscription</h1>
            <!--for demo wrap-->
            <div class="tbl-header">
                <button onclick="ExportToExcel('xlsx')" class="btn btn-success text-white" style="margin-top:78px;background-color: #23085a!important;">Export table to excel</button>
                <table id="tbl_exporttable_to_xls" class="table" cellpadding="0" cellspacing="0" border="0">
                    <thead style=" background-color: #000 !important; color:#fff;">
                        <tr>
                            <th>Index</th>
                            <th>Userid</th>
                            <th>Amount</th>
                            <th>Details</th>
                            <th>Cr Dr</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.incomelist)

                        {
                            i++;
                            <tr>
                                <th class="row-incom">@i</th>
                                <td>@item.Userid</td>
                                <td>@item.NetAmount</td>
                                <td>@item.Detail</td>
                                <td>@item.InOut</td>
                                <td>@item.tDate</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </section>
    </section>
</div>

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script>

        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('tbl_exporttable_to_xls');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
        }

</script>
