@model forex.Models.kycmodel;
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<style>
    .radi {
        border-radius: 20px;
    }

    img {
        height: 260px;
    }
</style>

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xl-12">
                <div class="card-box">
                    <span class="header-title m-t-0" id="result" runat="server" style="color:#017627;"></span>
                    <br />
                    <div>
                        <div>
                            <div class="card-box">
                                <form asp-action="bank" asp-controller="admin" method="post" enctype="multipart/form-data">
                                    <h4 class="header-title mb-4">Bank Information</h4>
                                    <p class="header-title mb-4" style="color:red;">@ViewBag.error</p>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="accountno">Account Holder Name</label>
                                            <input class="form-control radi" type="text" id="accountno" name="AccountHolderName" value="@Model.AccountHolderName" required />
                                            <input class="form-control radi" type="text"  name="uid" value="@Model.Userid" hidden />
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="ifsc">IFSC</label>
                                            <input class="form-control radi" type="text" id="ifsc" name="ifsc" value="@Model.ifsc" required />

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="bankname">Bank Name</label>
                                            <input class="form-control radi" type="text" id="bankname" name="bankname" value="@Model.bankname" required />

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="branch">Branch</label>
                                            <input class="form-control radi" type="text" id="branch" name="branch" value="@Model.branch" required />

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="bankname">City</label>
                                            <input class="form-control radi" type="text" id="bankname" name="city" value="@Model.city" required />

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="branch">State</label>
                                            <input class="form-control radi" type="text" id="branch" name="state" value="@Model.state" required />

                                        </div>

                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="accountno">Account No</label>
                                            <input class="form-control radi" type="text" id="accountno" name="accountno" value="@Model.accountno" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="accountno">Pan Card No</label>
                                            <input class="form-control radi" type="text" id="accountno" name="pannumbr" value="@Model.pannumbr" required />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="accountno">Adhaar Card No</label>
                                            <input class="form-control radi" type="text" id="accountno" name="adharnumber" value="@Model.adharnumber" required />
                                        </div>
                                        <div class="form-group col-md-6">

                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="uploadadhar">Passbook/Cheque</label>
                                            <input type="file" id="uploadadhar" name="file" value="@Model.bank"  />
                                            <img src="@Model.bank" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="uploadadhar">Pan Card</label>
                                            <input type="file" id="uploadadhar" name="file1" value="@Model.pancard"  />
                                            <img src="@Model.pancard" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="uploadadhar">Adhaar Front upload</label>
                                            <input type="file" id="uploadadhar" name="file2" value="@Model.adharfront"  />
                                            <img src="@Model.adharfront" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label" for="uploadadhar">Adhaar Back upload</label>
                                            <input type="file" id="uploadadhar" name="file3" value="@Model.adharback"  />
                                            <img src="@Model.adharback" />
                                        </div>

                                        <div class="form-group text-right m-b-0">
                                            <input type="submit" value="submit" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>